<!--<h2>Today's article</h2>-->
<!--<hr>-->
<!--<div *ngFor="let art of articles">-->
<!--  <a href="{{art.url}}" target="_blank">{{art.title}}</a>-->
<!--  <app-likes></app-likes>-->
<!--</div>-->
<!--<hr>-->
<!--binding event-->
<!--<textarea [value]="article.title" id="article-title" cols="70" rows="10"></textarea>-->
<!--<textarea [value]="article.url" id="article-url" cols="70" rows="10"></textarea>-->
<!--<input type="button" (click)="updateArticle()" value="Update">-->

<!--binding two-away-->
<!--<textarea [(ngModel)]="title" cols="70" rows="10"></textarea>-->
<!--<textarea [(ngModel)]="url" cols="70" rows="10"></textarea>-->
<!--<button (click)="addArticle()">Add</button>-->
<app-navbar></app-navbar>
<app-footer></app-footer>

